/*** Universal Styles ***/

html, * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, header, main, footer {
    margin: 0;
}

body {
    background: linear-gradient(to right, #ADA996 25%, #F2F2F2, #DBDBDB, #EAEAEA);
}

@media screen and (max-width: 800px) {
    body {
        background: linear-gradient(to right, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
    }
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/*========================= SIDEBAR =========================*/

/*** Formatting for Sidebar - Desktop Site ***/

.sidebar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #6190E8, #A7BFE8);
    z-index: 5;
    border-right: 1px solid black;
}

.sidebarMain {
    width: 100%;
    height: 100%;
}

.sidebarMain h1 {
    font-size: 32px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    text-align: center;
}

.sidebarMain p {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.profilePic {
    width: 70%;
    aspect-ratio: 1 / 1;
    margin: 10% auto;
    border-radius: 100%;
}

/*** Formatting for Sidebar - Mobile view ***/

.sidebarArrow {
    display: none;
    width: 25px;
    height: 100%;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid black;
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 250px;
        left: -225px;
        transition: left 300ms linear;
    }

    .sidebarArrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Styles used when sidebar is active */
    .sidebarActive {
        left: 0;
    }

    .leftArrow {
        border-left: 0;
        border-right: 15px solid black;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
}

/*==================== MAIN PAGE / HEADER ====================*/

/*** Formatting for Main Page - Desktop Site ***/

header, main, footer {
    width: 75%;
    margin-left: auto;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5px;
}

header a {
    margin: 10px 5px;
    font-size: 24px;
    font-weight: bold;
}

header a:link, header a:visited {
    color: black;
}

header a:active {
    transform: scale(0.9, 0.9);
}

.headerIcon {
    width: 50px;
    margin: 10px 5px;
}

.headerIcon:active {
    transform: scale(0.9, 0.9);
}

@media screen and (min-width: 801px) {
    /* Hover effect for Desktop site only */
    header a:hover {
        text-shadow: 2px 2px 5px grey;
        transform: translate(-2px, -2px);
    }

    .headerIcon:hover {
        transform: translate(-2px, -2px);
    }
}

/*** Formatting for Main Page - Mobile view ***/

@media screen and (max-width: 800px) {
    header, main, footer {
        width: calc(100% - 25px);
    }
}

/*========================= Tiles =========================*/

/*** Formatting for Tiles - Desktop Site ***/

.wrapper {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.tile {
    aspect-ratio: 1 / 1;
    margin: 5px;
    border-radius: 25%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: transform 100ms ease-in;
    cursor: pointer;
    /* glass effect */
    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* contents */
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile:active {
    transform: scale(0.9, 0.9);
}

.tile a:link, .tile a:visited {
    color: black;
}

.tile img {
    width: 75%;
}

.tile p {
    font-weight: 600;
    margin: 1px 0;
}

.inProgress {
    color: darkred;
}

@media screen and (min-width: 801px) {
    /* Hover effect for Desktop site only */
    .tile:hover {
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.7 );
    }
}

@media screen and (max-width: 1200px) {
    /* 5 Tiles per row */
    .wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 900px) {
    /* 4 Tiles per row */
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 500px) {
    /* 3 Tiles per row */
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


/*** Formatting for tiles - Mobile View ***/
@media screen and (max-width: 600px) {
    .tile img {
        width: 50%;
    }

    .tile p {
        font-size: 0.75rem;
    }
}


/*========================= Footer =========================*/

footer {
    height: 25px;
    padding-right: 20px;
    text-align: right;
}